@import "tailwindcss";
@import "./theme.css";

@plugin "daisyui" {
  themes:
    lagrange --default,
    lagrange-dark --prefersdark;
}

@layer base {
  :root {
    --header-height: 4rem;
  }

  html {
    scroll-behavior: smooth;
  }
}

:root[data-consent-set] #rgpd-banner {
  display: none;
}

@theme {
  --font-sans: Georgia, "Times New Roman", serif;
  --color-stone-50: #f7ede0;
  --color-stone-100: #ecdcc8;
  --color-stone-400: #d5b492;
  --color-stone-500: #9a8070;
  --color-stone-700: color-mix(
    in oklab,
    var(--color-stone-900) 40%,
    var(--color-stone-500)
  );
  --color-stone-800: color-mix(
    in oklab,
    var(--color-stone-900) 60%,
    var(--color-stone-500)
  );
  --color-stone-900: #2e2b28;
}
