@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    --header-height: 4rem;
  }

  html {
    scroll-behavior: smooth;
  }

  .theme-stone {
    --section-bg: var(--color-stone-100);
    --text-head: var(--color-stone-900);
    --text-body: var(--color-stone-700);
    --text-sub: var(--color-stone-600);
    --text-muted: var(--color-stone-500);

    --color-base-content: var(--color-stone-900);
  }

  .theme-white {
    --section-bg: white;
    --text-head: var(--color-stone-900);
    --text-body: var(--color-stone-700);
    --text-sub: var(--color-stone-600);
    --text-muted: var(--color-stone-500);
  }
}

@utility text-head {
  @apply text-xl;
  color: var(--text-head);
}
@utility text-body {
  color: var(--text-body);
}
@utility text-sub {
  @apply text-sm;
  color: var(--text-sub);
}
@utility text-muted {
  @apply text-sm;
  color: var(--text-muted);
}
@utility bg-section {
  background-color: var(--section-bg);
}

@theme {
  --font-sans: Georgia, "Times New Roman", serif;
  --color-stone-50: #faf9f7;
  --color-stone-100: #f0ece6;
  --color-stone-400: #a39890;
  --color-stone-500: #6b6560;
  --color-stone-900: #1a1a1a;
}
