---
import { getEntry } from "astro:content";
import heroImage from "../assets/lagrange.png";

interface Props {
  locale: string;
}

const { locale } = Astro.props;
const entry = await getEntry("hero", locale);
if (!entry) throw new Error(`Missing hero content for locale: ${locale}`);
---

<section id="hero" class="hero" style={{
  backgroundImage: `url(${heroImage.src})`
}}>
  <div class="hero-overlay"/>
  <div class="hero-content text-center">
    <div>
      <h1 class="mb-4 text-7xl font-normal tracking-[0.1em] text-white sm:text-8xl lg:text-9xl">{entry.data.title}</h1>
      <p class="text-lg text-white/80 sm:text-xl lg:text-2xl">{entry.data.tagline}</p>
    </div>
    
  </div>
</section>

<style>
  #hero {
    min-height: calc(100dvh - var(--header-height));
  }
</style>
