---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

const socialsEntry = await getEntry("site", "socials");
if (!socialsEntry) throw new Error("Missing site/socials content");

const links = socialsEntry.data.links;
---

<div class="flex justify-center gap-4">
  {links.map(({ href, label, icon, color }) => (
    <a
      href={href}
      class="scale-100 hover:scale-110 cursor-pointer"
      aria-label={label}
      style={{ color }}
    >
      <Icon name={icon} class="h-8 w-8" />
    </a>
  ))}
</div>
